/*Is it a bit rude to hide the link to the theme repo? Yeah. Is it legal? Yeah.*/
.site-footer {
  visibility: hidden;
  display: none;
}

.main-content ul {
    list-style: none;
    background-color: red;
/*
    > li {
      &::before {
        position: absolute;
        margin-left: -1.4em;
        color: $grey-dk-000;
        content: "G";
      }
    }*/
  }




.cC {color:green; font-weight: bold; font-family: "mySymbols"; 
    background-color: white; 
    padding:0.2ex; 
    padding-bottom: 0ex;
    border-radius: 0.2em;
    border: 2px solid green;}
  .cD {color:blue; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    padding-bottom: 0ex;
    border-radius: 0.2em;
    border: 2px solid blue;}
  .cH {color:red; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    padding-bottom: 0ex;
    border-radius: 0.2em;
    border: 2px solid red;}
  .cS {color:black; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    padding-bottom: 0ex;
    border-radius: 0.2em;
    border: 2px solid black;}
  .card {color:#3a3a3a; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    padding-bottom: 0ex;
    border-radius: 0.2em;
    border: 2px solid #3a3a3a;}
  .redJoker {color:red; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    border-radius: 0.2em;
    border: 2px solid #3a3a3a;}
  .blackJoker {color:black; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    border-radius: 0.2em;
    border: 2px solid #3a3a3a;}