/*Is it a bit rude to hide the link to the theme repo? Yeah. Is it legal? Yeah.*/
/*.site-footer {
  visibility: hidden;
  display: none;
}*/



/*I shouldn't have to go through this much effort just to fix this silly bullet point format*/
.main-content ul {
    list-style: none;

    > li {
        &::before {
          position: absolute;
          margin-left: -1.4em;
          color: $grey-dk-000;
          content: "•";
        }
      }

    > li > ul > li{
        &::before {
          position: absolute;
          margin-left: -1.4em;
          color: $grey-dk-000;
          content: "◦";
        }
    }

    > li > ul > li > ul > li{
        &::before {
          position: absolute;
          margin-left: -1.4em;
          color: $grey-dk-000;
          content: "⁃";
        }
    }

    
  }




.cC {color:green; font-weight: bold; font-family: "mySymbols"; 
    background-color: white; 
    padding:0.2ex; 
    padding-bottom: 0ex;
    border-radius: 0.2em;
    border: 2px solid green;}
  .cD {color:blue; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    padding-bottom: 0ex;
    border-radius: 0.2em;
    border: 2px solid blue;}
  .cH {color:red; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    padding-bottom: 0ex;
    border-radius: 0.2em;
    border: 2px solid red;}
  .cS {color:black; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    padding-bottom: 0ex;
    border-radius: 0.2em;
    border: 2px solid black;}
  .card {color:#3a3a3a; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    padding-bottom: 0ex;
    border-radius: 0.2em;
    border: 2px solid #3a3a3a;}
  .crewtile {
    color: #3a3a3a;
    font-weight: bold;
    font-family: "mySymbols";
    background-color: #eee8d5;
    padding: 0.42ex;
    padding-bottom: 0ex;
    border-radius: 0.2em;
    border: 2px solid #93a1a1;
  }
  .redJoker {color:red; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    border-radius: 0.2em;
    border: 2px solid #3a3a3a;}
  .blackJoker {color:black; font-weight: bold; font-family: "mySymbols";
    background-color: white; 
    padding:0.2ex; 
    border-radius: 0.2em;
    border: 2px solid #3a3a3a;}