$grey-lt-000: #eee8d5;
$white: #fdf6e3;
$body-text-color: #000;


$body-background-color: #fdf6e3;
$sidebar-color: #eee8d5;
$search-background-color: #fdf6e3;
$table-background-color: #fdf6e3;
$code-background-color: #eee8d5;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: $grey-dk-100 !default;
$body-heading-color: $grey-dk-300 !default;
$search-result-preview-color: $grey-dk-000 !default;
$nav-child-link-color: #7a0019 !default;
$link-color: #7a0019;
$btn-primary-color: $purple-100 !default;
$base-button-color: #07f7f7;


$border-color: #93a1a1;
