<h2 class="text-delta">Pages in this group</h2>
<ul>
  {%- assign children_list = pages_list | where: "parent", page.title -%}
  {% for child in children_list %}
  {%- if child.nav_exclude != true -%}
    <li>
      <b><a href="{{ child.url | absolute_url }}">{{ child.title }}</a></b>
        <small style="display: inline-block;"><i>{% if child.players %}
          ({{ child.players }} Players)
        {% endif %}</small></i>
      {% if child.subtitle %}<br>{{ child.subtitle }}{% endif %}
      {% if child.description %}<br>{{ child.description }}{% endif %}
    </li>
  {% endif %}
  {% endfor %}
</ul>
